<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Om Kandhaguru Jwellary</title>
    <style type="text/css">
        #PhoneNumber {
            margin-left: 9px;
        }
        #Address {
            margin-left: 51px;
        }
    </style>
</head>
<body>

    <p style="height: 18px">
        Om Kandhaguru Jwellary</p>
     <form id="CustomerDetails">
      <label for="CustomerName">Customer Name:</label>
      <input type="text" id="CustomerName" name="CustomerName" required>
      <br>

      <label for="PhoneNumber">Phone Number:</label>
      <input type="tel" id="PhoneNumber" name="PhoneNumber" required>
      <!-- Using type="tel" for phone numbers -->
      <br>

      <label for="Address">Address:</label>
      <input type="text" id="Address" name="Address" required>
      <br>
     
      <button type="button" onclick="saveaddress()">Save details</button>
      <br>
 </form>
 <p id="result"></p>

    <script src="static/gmath.js"></script>

</body>
</html>